<div class="bg-primary-700 px-3  flex justify-center text-white font-bold">
  <div class="bg-primary-900 hover:bg-primary-800 py-2 px-3 inline">
    <a href="{{'berandaStaf'}}" >Beranda</a>
    
  </div>
  <div class="px-[2px] rounded-lg bg-primary-600 inline"></div>
  <div class="bg-primary-900 hover:bg-primary-800 py-2 px-3 inline">
    <a href="{{'dataMhs'}}" >Data Mahasiswa</a>
  </div>
  <div class="px-[2px] rounded-lg bg-primary-600 inline"></div>
  <div class="bg-primary-900 hover:bg-primary-800 py-2 px-3 inline">
    <a href="{{'/'}}" >Monitor</a>
  </div>
</div>