<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}" />
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"> -->
    <link rel='stylesheet' href="{{ url_for('static', filename='fontawesome/css/fontawesome.min.css')}}">

    <script src="{{ url_for('static', filename='fontawesome/js/fontawesome.js')}}"></script>

    <script src="{{ url_for('static', filename='fontawesome/js/solid.js')}}"></script>
    
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    {% include 'layouts/headerStaf.html' %}
    {% block body %} {% endblock %}
</body>
</html>